# Виключення віртуального середовища
venv/

# Виключення файлів моделей
models/*.h5

# Кеш та байт-код Python
__pycache__/
*.pyc

# Інші великі або непотрібні файли
history.pkl
.DS_Store

# Конфігураційні файли IDE
.vscode/
